body {
  font-family: var(--font);
  padding: 20px;
  background: var(--cor-2);
}

#container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

textarea, select, button {
  margin-top: 10px;
  display: block;
  width: 100%;
  max-width: 600px;
}

td {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media print {
  .no-print {
    display: none;
  }
}
