:root {
  /* Fontes */
  --font: "Inter", sans-serif;
  --font-2: "Quicksand", sans-serif;

  /* Cores */
  --cor-1: #EDEDED;  /* fundo geral */
  --cor-2: #81E7AF;  /* elementos (botões, textarea) */
  --cor-3: #00C8D7;
  --cor-4: #6DE1D2;
}
